.pomodoro-inside-div {
    max-width: 60vw;
    background-color: rgb(83, 80, 80);
    margin-left: 20vw;
    margin-top: 10vh;
    padding: 5%;
    border-radius: 20px;
    margin-bottom: 10vh;
}

.clocks-label {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 15vw;
    justify-content: space-between;
    margin-left: 35%;
    margin-bottom: 5%;
}

.clocks-label p {
    width: 80px;
    border-radius: 20px;
    height: 80px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(14, 13, 13, 0.459);
}

.inside-div {
    margin-top: 5vh;
    width: 14vw;
    display: flex;
    margin-left: 36%;
    flex-direction: column;
    justify-content: space-around;
}

.inside-inputs {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 70%;
    margin-left: 15%;
    align-items: center;
}

.inside-inputs div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }

.inside-inputs label{
    font-weight: 700;
}

.inside-inputs .inputs {
    background-color: rgba(14, 13, 13, 0.459);
    border: none;
    border-radius: 10px;
    justify-content: center;
    color: #eaeaea;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 10px;
    outline: none;
}

.inside-inputs .define-time .inputs {
    height: 40px;
    width: 40px;
}

.inside-inputs .pomodoro-description .inputs {
    padding: 10px;
    height: 40px;
    width: 200px;
    text-align: start;
}

.inside-inputs input:focus {
    border: #4e1bb4 2px solid;
    outline: none;
}

.inside-div button {
    margin-top: 15px;
    background-color: #713ed8;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    color: #eaeaea;
    font-weight: 700;
    border: none;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 0.3s ease all;
    cursor: pointer;
    outline: none;
}

.inside-div button:hover {   
     background-color: #4e1bb4;
}

/* Por algum motivo, a página fica maior que 100vw e fica com a barra embaixo, não sei oq fazer para mudar isto! */